{% extends "base.html" %}


{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}">
{% endblock %}

{% block title %}MHKBD Profile{% endblock %}

{% block content %}
<h1>MHKBD</h1>

<section class="about-section">
    <div class="profile-image-container">
        <img src="{{ spotify_profile_image }}" alt="Profile Picture" class="profile-image">
    </div>
    <div class="about-text">
        <p>Sharing things I find like and find useful, including projects that I have started.</p>
    </div>
</section>
    
<section class="projects-section">
    <h2>Projects 📲</h2>
    <div class="projects-container">
        {% for project in projects %}
        <div class="project-card">
            <h3><a href="{{ project.url }}" target="blank">{{ project.title }}</a></h3>
            <p>{{ project.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="articles-section">
    <h2>Articles 🖊️</h2>
    {% if articles %}
    <div class="articles-list">
        {% for article in articles %}
        <div class="article-item">
            <a href="{{ url_for('main.view_article', article_id=article._id) }}">{{ article.title }}</a>
            <span class="article-date">{{ article.date }}</span>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="no-articles">No articles yet.</p>
    {% endif %}
</section>

<section class="spotify-section">
    <h2>Songs On Repeat 🔁</h2>   

    <div class="spotify-buttons">
        <a href="{{ url_for('wrapped.current_wrapped') }}" class="btn btn-primary">Current</a>
        <a href="{{ url_for('wrapped.my_recommendations') }}" class="btn btn-secondary disabled" tabindex="-1" aria-disabled="true">All time</a>
    </div>
</section>
    
{% endblock %}