{% extends "base.html" %}


{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}">
{% endblock %}

{% block title %}MHKBD Profile{% endblock %}

{% block content %}
<h1>Access MHKBD</h1>

<section class="about-section">
    <div class="profile-image-container">
        <img src="{{ spotify_profile_image }}" alt="Profile Picture" class="profile-image">
    </div>
    <div class="about-text">
        <p>Hi! I'm MHKBD, a music enthusiast and developer. I love exploring new artists and sharing music with others.
            This app helps me track my listening habits and discover new favorites on Spotify.</p>
    </div>
</section>
    
<section class="projects-section">
    <h2>Projects</h2>
    <div class="projects-container">
        {% for project in projects %}
        <div class="project-card">
            <h3><a href="{{ project.url }}" target="blank">{{ project.title }}</a></h3>
            <p>{{ project.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="spotify-section">
    <h2>Spotify Wrapped Predictions</h2>   

    <div class="spotify-buttons">
        <a href="{{ url_for('wrapped.current_wrapped') }}" class="btn btn-primary">Current Wrapped</a>
        <a href="{{ url_for('wrapped.my_recommendations') }}" class="btn btn-secondary disabled" tabindex="-1" aria-disabled="true">Favorite Songs</a>
    </div>
</section>
    
{% endblock %}