{% extends "base.html" %}

{% block title %}Top Artists{% endblock %}

{% block content %}
    <h1>My Top 5 Spotify Artists</h1>
    {% if top_artists_list %}
        <ul class="artist-list">
            {% for a in top_artists_list %}
                <li class="artist-item">
                    <img class="artist-image" src="{{ a.images[0].url }}" alt="{{ a.name }}">
                    <div class="artist-info">
                        <div class="artist-name">{{ a.name }}</div>
                        <div class="artist-genres">{{ a.genres|join(', ') }}</div>
                        <div class="artist-popularity">
                            Popularity: {{ a.popularity }}%
                            <div class="popularity-bar">
                                <div class="popularity-fill" style="width: {{ a.popularity }}%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No top artists data available</p>
    {% endif %}
{% endblock %}