{% extends 'base.html' %}

{% block title %}
  MHKBD Wrapped
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/wrapped.css') }}">
{% endblock %}

{% block content %}
  <!-- Main Container -->
  <div class="wrapped-container">
    <!-- Header Section -->
    <div class="header-section">
      <h1>Wrapped {{ year }}</h1>
      <p>Here's how I listened this year</p>
    </div>
    
    <!-- Back Button -->
    <div class="back-button">
      <a href="{{ url_for('main.home') }}">MHKBD</a>
    </div>
    
    <!-- Image Section -->
    <div class="image-section">
      <img src="{{ image_url }}" alt="User Photo" />
    </div>

    <!-- Top Artists and Songs -->
    <div class="content-section">
      <div class="top-section">
        <div class="artists">
          <h2>Top Artists</h2>
          <ol>
            {% for artist in artists %}
              <li>{{ artist.name }}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="songs">
          <h2>Top Songs</h2>
          <ol>
            {% for song in songs %}
              <li>{{ song.name }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>

      <!-- Stats Section -->
      <div class="stats">
        <p>Top Genre</p>
        <h2>{{ genre }}</h2>
      </div>
    </div>
  </div>
{% endblock %}
