{% extends 'base.html' %}

{% block title %}
 On Repeat
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/wrapped.css') }}">
{% endblock %}

{% block content %}
  <!-- Main Container -->
  <div class="header-section">
    <!-- Back Button -->
    <div class="back-button">
      <h1>
        <a class="title-text" href="{{ url_for('main.home') }}">
          On Repeat {{ year }}
        </a>
      </h1>
    </div>
    <p>Here's what I've been listening to (updated using Spotify API)</p>
  </div>
  
  <!-- Image Section -->
  <div class="image-section">
    <img src="{{ image_url }}" alt="Top Artist Photo" />
  </div>
  <p id="artist-name">{{ number_one_artist }}</p>

  <div class="wrapped-container">

    <!-- Top Artists and Songs -->
    <div class="content-section">
      <div class="top-section">
        <div class="artists">
          <h2>Top Artists</h2>
          <ol>
            {% for artist in artists %}
              <li>{{ artist.name }}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="songs">
          <h2>Top Songs</h2>
          <ol>
            {% for song in songs %}
              <li>{{ song.name }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>

      <!-- Stats Section -->
      <div class="stats">
        <p>Top Genre</p>
        <h2>{{ genre }}</h2>
      </div>
    </div>
  </div>
{% endblock %}
